@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DDDDDD;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Kumbh Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*:hover {
  transition: all 0.25s ease-in-out;
}